<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/system.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/form2.css">
    <title>Sistemas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container2">
                <a class="logo" href="#"> <img src="/img/logo.png"></a>
                <ul class="menu">
                    <li><a href="./form.html">Login</a></li>
                    <li><a href="./index.html">Início</a></li>
                    <li><a href="./process.html">Processos</a></li>
                    <li><a href="./system.html">Sistemas</a></li>
                </ul>
                <div class="social">
                    <img src="/img/pessoa.png" alt="">
                    <p>Cláudio da Nóbrega</p>
                </div>
                <div class="hamburguer">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"><span>
                </div>
            </div>
        </nav>
    </header>
    <div class="toggle">
        <div class="switch" onclick="toggleMode()">
            <button></button>
            <span> </span>
        </div>
    </div>
    <h1 class="tittle-apps">APPs DEMAREST</h1>
        <div class="conteudo-geral">
            <div class="apps">
                <div class="icon-app">
                    <div>
                        <a href=""> <img src="/img/Icon_Genérico.svg">
                    </div>
                    <p><b>BSC</b></p>
                    </a>
                </div>
                <div class="icon-app">
                    <div>
                        <a href=""> <img src="/img/Icon_DTK.svg">
                    </div>
                    <p><b>DTK</b></p>
                    </a>
                </div>
                <div class="icon-app">
                    <div>
                        <a href=""> <img src="/img/Icon_Fuca (1).svg">
                    </div>
                    <p><b>Infocenter (GED)</b></p>
                    </a>
                </div>
                <div class="icon-app">
                    <div>
                        <a href=""> <img src="/img/Icon_Referral.svg">
                    </div>
                    <p><b>Referral</b></p>
                    </a>
                </div>
            </div>
            <div class="apps">
                <div class="icon-app">
                    <div>
                        <a href=""> <img src="/img/Icon_CRM.svg">
                    </div>
                    <p><b>CRM</b></p>
                    </a>
                </div>
                <div class="icon-app">
                    <div>
                        <a href="https://fuca.demarest.com.br/" target="_blank"> <img src="/img/Icon_Fuca.svg">
                    </div>
                    <p><b>Fuça</b></p>
                    </a>
                </div>
                <div class="icon-app">
                    <div>
                        <a href=""> <img src="/img/Icon_Genérico.svg">
                    </div>
                    <p><b>Portal de Serviços</b></p>
                    </a>
                </div>
                <div class="icon-app">
                    <div>
                        <a href=""> <img src="/imG/Icon_SAP.svg">
                    </div>
                    <p><b>SAP</b></p>
                    </a>
                </div>
            </div>
            <div class="apps">
                <div class="icon-app">
                    <div>
                        <a href=""> <img src="/img/Icon_De-Para.svg">
                    </div>
                    <p><b>De-Para</b></p>
                    </a>
                </div>
                <div class="icon-app">
                    <div>
                        <a href=""> <img src="/img/Icon_Calendário-01 (1).svg">
                    </div>
                    <p><b>Sistema de Reservas</b></p>
                    </a>
                </div>
                <div class="icon-app">
                    <div>
                        <a href=""> <img src="/img/Icon_Genérico.svg">
                    </div>
                    <p><b>KPIs</b></p>
                    </a>
                </div>
                <div class="icon-app">
                    <div>
                        <a href=""> <img src="/img/Icon_SCP.svg">
                    </div>
                    <p><b>SCP</b></p>
                    </a>
                </div>
            </div>
            <div class="apps">
                <div class="icon-app">
                    <div>
                        <a href=""> <img src="/img/Icon_Genérico.svg">
                    </div>
                    <p><b>DLM</b></p>
                    </a>
                </div>
                <div class="icon-app">
                    <div>
                        <a href=""> <img src="/img/Icon_GPA.svg">
                    </div>
                    <p><b>GPA</b></p>
                    </a>
                </div>
                <div class="icon-app">
                    <div>
                        <a href=""> <img src="/img/Icon_PowerBI.svg">
                    </div>
                    <p><b>Power Bi</b></p>
                    </a>
                </div>
                <div class="icon-app">
                    <div>
                        <a href=""> <img src="/img/Icon_GCP.svg" alt="">
                    </div>
                    <p><b>GCP</b></p>
                    </a>
                </div>
            </div>

            <div class="container">
                <div class="container-carrossel">
                    <div style="margin-bottom:2rem;"><img src="/img/logo.png" alt=""></div>
                    <div class="carrossel">
                        <div class="carrossel-item">DTK</div>
                        <div class="carrossel-item">BSC</div>
                        <div class="carrossel-item">CRM</div>
                        <div class="carrossel-item">FUÇA</div>
                        <div class="carrossel-item">SCP</div>
                        <div class="carrossel-item">DLM</div>
                    </div>
                </div>
            </div>
            <div class="hr">
                <hr>
            </div>
        </div>
          
    </section>
    <script src="/controllers/form.js"></script>
    <script src="/controllers/script.js"></script>
    <script src="/controllers/switch.js"></script>
    <script src="/controllers/script.js"></script>

    <script type="module" git src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>