@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  height: 100vh;
  width: 100vw;
  gap: 5rem;
  font-family: "Nunito", cursive;
  font-family: "Quicksand", sans-serif;
  color: #efefef !important;
  text-align: center;
}

.aneis {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aneis i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}
.aneis i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.aneis i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.aneis i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.aneis:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.login {
  position: absolute;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;  
  gap: 20px;
}
.login h2 {
  font-size: 2em;
  color: #fff;
}
.login .caixa-input {
  position: relative;
  width: 100%;
}
.login .caixa-input input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  box-shadow: none;
  outline: none;
}
/* .login .caixa-input input[type="submit"] {
  width: 100%;
  background: #0078ff;
  background: linear-gradient(45deg, #ff357a, #fff172);
  border: none;
  cursor: pointer;
} */
.login .caixa-input input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.login .links a {
  color: #fff;
  text-decoration: none;
}

.caixa-input input[type="submit"] {
  padding: 14px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  /* background-color: #000; */
  background: linear-gradient(45deg, #f1a465, #9e5010);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.caixa-input input[type="submit"]:hover {
  letter-spacing: 3px;
  background-color: #000000;
  color: hsl(0, 0%, 100%);
  box-shadow: #72BFB2 1px 3px 19px -2px;
}

.caixa-input input[type="submit"]:active {
  letter-spacing: 3px;
  background-color: #ff00c8;
  color: hsl(0, 0%, 100%);
  box-shadow: #31c2b6 1px 3px 19px -2px;
  transform: translateY(10px);
  transition: 100ms;
}

.form2 button {
  border: none;
  background: none;
  color: #8b8ba7;
}
.form2 {
  --timing: 0.7s;
  --width-of-input: 100%;
  --border-height: 2.3px;
  --input-bg: #fff;
  --border-color: var(--orange);
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: 40px;
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
  
}



.form2:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 2px;
  transition: transform var(--timing) ease;
}
.form2:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}

.form2:focus-within:before {
  transform: scale(1);
}

.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

.form2 svg {
  width: 17px;
  margin-top: 3px;
}




/* .conteudo-geral {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.conteudo-geral {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-carrossel {
  width: 150px;
  height: 100px;
  width: var(--widthItem);
  height: var(--heightItem);
  perspective: 1000px;
}

.carrossel {
  --rotatey: 0;
  font-size: 4rem;
  position: relative;
  transform: rotatey(var(--rotatey));
  transform-style: preserve-3d;
  user-select: none;
  cursor: grab;
}

.carrossel-item {
  opacity: 0.5;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: opacity .4s;
}

.carrossel-item:hover {
  opacity: 1;
}

.carrossel,
.carrossel-item {
  margin-top: .5rem;
  width: 100%;
  height: 86%;
}  */
/* background: linear-gradient(-229deg, #642B73, #C6426E); */

/* .carrossel-item a{
  color: white !important;
}

.carrossel-item:nth-child(1) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #33c2aa, #01154d);
}

.carrossel-item:nth-child(2) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #1e0044, #d35d26);
}

.carrossel-item:nth-child(3) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #0cebeb, #6200b3);
}
.carrossel-item:nth-child(4) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #16065c, #ff0055);
}

.carrossel-item:nth-child(5) {
  --rotate: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #00063d, #2aad9e);
}

.carrossel-item:nth-child(6) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg,  #be6a24, #3a1b01);
}

@media screen and (min-width: 576px) {
  .container-carrossel {
    --widthItem: 250px;
    --heightItem: 200px;
  }
} 
*/



@media screen and (max-width:600px) {
  .aneis {
    position: relative;
    width: 360px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}