@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --orange: #CD8C5E;
    --white: #FAFAFA;
    --red: #ec1b3e;
    --grey-light: #f9f9f9;
    --grey-dark: #868E96;
    --grey3: #ADB5BD;
    --grey4: #DEE2E6;
    --turquoise: #72BFB2;
    --blue: #00223c;
    --blue2: #020120;
}

body {
    background: rgb(245, 245, 245);
    color: var(--blue);
}

